.DS_Store
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ind
*.ist
*.lof
*.log
*.lot
*.out
*.pdf
*.pyc
*.pyo
*.run.xml
*.synctex.gz
*.toc
__pycache__
build/
cinematic-color/
svg-inkscape/